::selection {
    background: $accent-color;
    color: $dark-color;
}

a {
    color: $secondary-color;

    &:active {
        color: $accent-color;
    }
}

@mixin content-element {
    padding: 1rem;
}

.stylized-button{
    font-family: inherit; 
    font-size: 1.1rem; 
    border-radius: .5rem; 
    border-width: 1px;
    background-color: $primary-color;
    color: $secondary-color;
    padding: .2rem .75rem;
    text-decoration: none;
}

.active-bg-tint:active{
    background-color: rgba(#fff, .25);
}

.active-bg-filter:active{
    filter: brightness(85%);
}